html
    head
        link(rel="stylesheet", href="./styles.css")
    body
        div(id="pageContainerCreate")
            div(class="backButtonCreate")
                form(method="get", action="/")
                    div 
                        input(type="submit", value="Back")
            div(class="createForm")
                form(method="post", action=`/updateUser?userid=${data.guid}`)
                    div
                        label(for="first_name") First Name:&nbsp;
                        input(id="first_name", name="first_name", value=`${data.first_name}`)
                    div
                        label(for="last_name") Last Name:&nbsp;
                        input(id="last_name", name="last_name", value=`${data.last_name}`)
                    div
                        label(for="email") Email:&nbsp;
                        input(id="email", name="email", type="email", value=`${data.email}`)
                    div
                        label(for="age") Age:&nbsp;
                        input(id="age", name="age", value=`${data.age}`)
                    div
                        input(id="submit", name="submit", type="submit" value="Save")